---
title: ISO/CRS Specialists Website
permalink: "/"
---

<img src="https://place-hold.it/1200x900/f1f5f9&text=TheISO/CRSTeam">

<p>
  The goal of the site is to proivde all of us (specialists and consultants) with a unified coordination resource. Consider it to be a web-based compliment to the <cite>Specialist's Manual</cite>. Like the <cite>Specialist's Manual</cite>, it's intended for <strong>internal use only</strong> (hence the password protection).
</p>
